<h1 class="center"><img src="/img/partners.png"></h1>
<h4 class="center" style="background-color:lightgray">Our Story</h4>

<div><p class='flow-text center'>partnersInCode was created by three new students who teamed up to do a project together.  As the project came to an end, each of them voiced, "Wouldn't it be awesome to search what others have done before and maybe reach out to "partner up" other web developers on their projects"?   We hope this app will bring a community of liked minds to share knowledge, showcase talents through their portfolios, foster innovation and bring forth endless creativity.</p><div>
 <div class="row center">
            <div class="col s12 m6 offset-m3"><img class="align-center" src="/img/DevCollabers.jpg" style="width:50%;height:50%"></div>
</div>
