<h1>Partners In Code</h1>
<p class='flow-text'>partnersInCode was created by three new students who teamed up to do a project together.  When the project was done, they each voiced that it would be awesome to "partner up" with other web developers in hopes to continue their learnings as well as bringing another arena for community meet ups. <p>

    <div class="col s12 m4">

	   <div class="col s12 m6 offset-m3">
	<img class="align-center" src="/img/DevCollabers.jpg" style="width:100%;height:100%">
	</div>
</div>
