<h2 class='text-center'>Edit your profile</h2>
<p class='text-center'>Fill out the information below..</p>
<form ng-submit="editStalker()">
    <div class="row">
        <div class="input-field col l8 m10 s10 offset-s1 offset-m1 offset-l2">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="stalker.name">
        </div>
    </div>
    <div class="row">
        <div class="input-field col l8 m10 s10 offset-s1 offset-m1 offset-l2">
            <label for="title">What is your title?</label>
            <input type="text" class="form-control" id="title" ng-model="stalker.title">
        </div>
    </div>
    <div class="row">
        <div class="input-field col l8 m10 s10 offset-s1 offset-m1 offset-l2">
            <textarea class="form-control" id="description" ng-model="stalker.description" placeholder="Tell us about yourself"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="input-field col l8 m10 s10 offset-s1 offset-m1 offset-l2">
            Upload an image of your portfolio:
            <input type="file" class="form-control" id="image" placeholder="" ng-model="stalker.image">
        </div>
    </div>
    <div class="row">
        <div class="input-field col l8 m10 s10 offset-s1 offset-m1 offset-l2">
            <label for="portfolioUrl">Upload a link to your portfolio</label>
            <input type="url" class="form-control" id="portfolioUrl" placeholder="" ng-model="stalker.portfolioUrl">
        </div>
    </div>
    <div class="row">
        <div class="col s12 offset-s4 offset-m5">
            <button type=submit class="btn btn-primary">submit</button>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</form>
