<div class="container home">
    <div class="row">
        <div class="col s3 offset-s3 offset-m4">
            <a href="/login" ng-hide="isLoggedIn()" class="btn waves-effect indigo">Login<i class="material-icons right">button</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col s3 offset-s3 offset-m4">
            <a href="/signup" ng-hide="isLoggedIn()" class="btn waves-effect indigo">Signup<i class="material-icons right">button</i></a></a>
        </div>
    </div>
</div>
