<nav ng-show="isLoggedIn()" ng-controller="NavCtrl" role="navigation" class="indigo darken-3">
    <div class="navbar-wrapper">
        <ul id="nav-mobile" class="right">
        <li class="float left white-text"><a href="/">partnersInCode</a></li>
            <li><a href="/portfolio">Portfolios</a></li>
            <li><a href="/stalkers/{{profile()}}">Profile</a></li>
            <li><a href="/portfolio/edit">Settings</a></li>
            <li><a ng-click="logout()" ng-show="isLoggedIn()">Logout</a></li>
        </ul>
    </div>
</nav>
