<h1 class='text-center'>{{stalker.name}}'s profile page</h1>
<div class="container">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="well">
                <p>
                    {{stalker.description}}
                </p>
                <p>
                    {{stalker.name}}
                </p>
                <a href="{{stalker.portfolioUrl}}">portfolio</a>
                <img ng-src='{{stalker.avatar}}'>

                <form action="/uploadprofile" method="POST" enctype="multipart/form-data">
                    <label for="avatar" class="btn btn-default btn-file">
                    choose a profile pic <input type="file" name="myFile" class="hidden">
                    </label>
                    <input type="hidden" name="id" value="{{stalker.id}}">
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
<a href="/portfolio" class="btn btn-primary">&larr; Back</a>
