<h1 class='text-center'>{{stalker.name}}'s profile page</h1>

 <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="/img/itsme.JPG">
                <img class="img-responsive" ng-src="{{stalker.avatar}}">
              <span class="card-title">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>
                    {{stalker.name}}
                </p>
              <p>
                    {{stalker.description}}
                   
                </p>
              <a href="{{stalker.portfolioUrl}}">portfolio</a>
              
                <form action="/uploadprofile" method="POST" enctype="multipart/form-data">
                    <label for="avatar" class="btn btn-default btn-file">
                    choose a profile pic <input type="file" name="myFile" class="hidden">
                    </label>
                    <input type="hidden" name="id" value="{{stalker.id}}">
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        <!--     <div class="card-action"> -->
          <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
    </div>
          </div>
        </div>
      </div>



</div>
<a href="/portfolio" class="btn btn-primary">&larr; Back</a>
