<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img ng-src='{{stalker.avatar}}'>
                     <h1 class='center'>{{stalker.name}}'s Page</h1>
                     <h3 class='center'>{{stalker.description}}</h3>
                    <form class="center" action="/uploadprofile" method="POST" enctype="multipart/form-data">
                        <label for="avatar" class="btn btn-default btn-file">
                            choose a profile pic
                            <input type="file" name="myFile" class="hidden">
                        </label>
                        <input type="hidden" name="id" value="{{stalker.id}}">
                        <input type="submit" class="btn btn-primary">
                    </form>
                    <a href="{{stalker.portfolioUrl}}">portfolio</a>
                </div>
            </div>
        </div>
    </div>
</div>
