<form ng-submit="userSignup()">
    <div class="container">
        <div class="row">
            <div class="input-field col s6 offset-s5 offset-m3">
                <input  class="validate
" type="email" id="email" placeholder="Email" ng-model="user.email">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s5 offset-m3">
                <input class="validate" type="password" id="password" placeholder="Password" ng-model="user.password">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s5 offset-m3">
                <input class="validate" type="text" placeholder="Name" id="name" ng-model="user.name">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s5 offset-m3">
                <input class="validate" type="text" placeholder="Portfolio" id="portfolio" ng-model="user.portfolioUrl">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s5 offset-m3">
                <input class="validate" type="textbox" placeholder="Talk a little about yourself" class="materialize-textarea" id="description" ng-model="user.description">
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s5 offset-m5">
                <button type="submit" class="btn waves-effect indigo">Signup</button>
            </div>
        </div>
    </div>
</form>
