<form ng-submit="userSignup()">
    <div class="container">
        <div class="row">
            <div class="input-field col s6 offset-s5 offset-m3">
                <input type="email" id="email" placeholder="Email" ng-model="user.email">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s5 offset-m3">
                <input type="password" id="password" placeholder="Password" ng-model="user.password">
            </div>
        </div>
        <div class="row">
            <div class="col m6 s6 offset-s5 offset-m5">
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
        </div>
    </div>
</form>
